[Desktop Entry]
Encoding=UTF-8
Name=小テストへのリンク
Type=Link
URL=http://133.54.224.240/penshu4_2020/67170575/ex10/index.php
Icon=text-html
Name[ja_JP]=page
